/* =================NAV================ */
nav ul a:nth-child(2) li{
    color: var(--color-primary);
}
.window-scroll ul a:nth-child(2) li {
    color: var(--color-black);
}

/* =================HEADER================ */
section#header {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../image/people-2569234.jpg);
    background-size: cover;
    padding: 0 10rem;
}
.header__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header__container h1 {
    color: var(--color-primary);
    text-shadow: 3px 3px 6px var(--color-black);
    font-weight: 900;
    margin-top: 0.2rem;
}
.header__container h2 {
    color: var(--color-white);
    margin: 1rem 0 0 3rem;
    font-weight: 900;
}

/* =================LINE================ */
/* .line {
    width: 100%;
    height: 1px;
    background: var(--color-realBlack);
    margin: 6rem 0;
} */


/* =================ABOUT================ */
section#about{
    background: var(--color-white);
}
.title{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}
.title__text h2 {
    color: var(--color-primary);
    font-weight: 900;
}
.title__line {
    height: 0.5rem;
}
.real__line {
    height: 100%;
    width: 80%;
    float: right;
    background: var(--color-primary);
}
.about__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-top: 6rem;
}
.content__text p {
    line-height: 2;
    font-size: 1.2rem;
    color: var(--color-dark);
}
.about__content image {
    height: 100%;
}

/* =================MEMBER================ */
.member__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.member__header h4 {
    color: var(--color-primary);
    font-weight: 700;
}
.member__header p {
    color: var(--color-realBlack);
    margin-top: 2rem;
    font-weight: 300;
    text-align: center;
}
.member__header button {
    margin-top: 4rem;
}
.member__content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 8rem;
    margin-top: 6rem;
}
.member__img {
    width: 100%;
    height: 18rem;
}
.member__img img {
    height: 100%;
    border-radius: 50%;
}
.member__info {
    text-align: center;
    margin-top: 2rem;
}



@media screen and (max-width: 1400px) {
    .member__content {
        grid-template-columns: repeat(2,1fr);
    }
    .member__img {
        height: 26rem;
    }
}
/* =================MEDIA QEURIES
(TABLETS)================ */
@media screen and (max-width: 1024px) {
    section#header {
        padding: 0;
    }
    .header__container {
        align-items: center;
        padding: 0;
    }
    .header__container h1 {
        text-align: center;
        width: 100%;
    }

    .header__container h2 {
        text-align: center;
        margin: 1rem 0 0 0;
    }
    .member__img {
        height: 20rem;
    }
    .about__content {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 700px) {
    .member__content {
        grid-template-columns: repeat(1,1fr);
    }
    .member__img {
        height: 32rem;
    }
}