/* =================NAV================ */
nav ul a:nth-child(1) li{
    color: var(--color-black);
}
.window-scroll ul a:nth-child(1) li {
    color: var(--color-black);
}
/* =================HEADER================ */
section#header {
    height: 100vh;
    background: var(--color-black);
    background-size: cover;
    padding: 5rem 0;
}
.header__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper {
    display: inline-block;
    width: 1024px;
    height: 80vh;
}
.swiper-wrapper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-black);
    height: 100%;
    width: 100%;
}
.swiper-text {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}
.swiper-text h1 {
    color: var(--color-primary);
    text-shadow: 3px 3px 6px var(--color-black);
    font-weight: 900;
    margin-top: 0.2rem;
}
.swiper-text h2 {
    color: var(--color-white);
    font-weight: 900;
    margin: 1rem 0 0 3rem;
}
.swiper-text button{
    margin-top: 3rem;
    width: 12rem;
    font-weight: 700;
}
.swiper-img {
    position: absolute;
    width: 60%;
    height: 100%;
    right: 0;
}
.swiper-img img {
    height: 100%;
}



/* =================CREATOR================ */
section#creator{
    background: var(--color-black);
}
.title.white h2{
    color: var(--color-white);
}
.title.white .real__line {
    background: var(--color-white);
}
.sub__title h4 {
    margin-top: 1rem;
    color: var(--color-white);
}
.sub__title button {
    margin-top: 3rem;
    width: 12rem;
    font-weight: 700;
}
.creator__item {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 6rem;
}
.creator__item article {
    position: relative;
}
.creator__item img {
    height: 100%;
}
.creator__info {
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    color: var(--color-white);
    transition: var(--transition);
}
.creator__info:hover {
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6));
}
.creator__name {
    display: flex;
    align-items: center;
}
.on-air {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    margin-left: 0.6rem;
    background: var(--color-green);
}
.position {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}
.position p {
    margin-left: 0.6rem;
    font-size: 0.9rem;
    color: var(--color-green);
    background: var(--color-black);
    padding: 0 0.3rem;
    border-radius: 0.5rem;
}
.creator__detail {
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.creator-row p {
    margin-bottom: 0.2rem;
    color: var(--color-gray);
    font-size: 0.8rem;
}
.creator-row h5 {
    margin-bottom: 1.2rem;
}

/* ================= NEWS ================ */
.news__container .sub__title h4 {
    color: var(--color-dark);
}
.news__content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    margin-top: 6rem;
}
.news {
    border: 1px solid var(--color-gray);
}
.news:hover {
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
    z-index: 1;
    border-color: var(--color-primary);
}
.news__img {
    height: 258px;
}
.news__img img {
    height: 100%;
}
.news__info {
    padding: 1.5rem 1rem;
    height: 15rem;
}
.news__info h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color: var(--color-realBlack);
    font-weight: 500;
}
.news__info h5 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    margin-top: 1rem;
}
.news__btn {
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1400px) {
    .title {
        grid-template-columns: 1fr 3fr;
    }
    .creator__item {
        grid-template-columns: repeat(2, 1fr);
    }
    .news__content {
        grid-template-columns: repeat(2, 1fr);
    }
}
/* =================MEDIA QEURIES
(TABLETS)================ */

@media screen and (max-width: 1024px) {
    section#header {
        padding: 5rem 0;
    }
    .swiper-text h2 {
        margin: 1rem 0 0 0;
    }
    .about__content {
        grid-template-columns: 1fr;
    }

}

@media screen and (max-width: 700px) {
    .creator__item {
        grid-template-columns: repeat(1, 1fr);
    }

    .news__content {
        grid-template-columns: repeat(1, 1fr);
    }
    .swiper-img {
        position: absolute;
        width: 75%;
        height: 100%;
        right: 0;
    }
}

/* =================MEDIA QEURIES
(PHONES)================ */
@media screen and (max-width: 600px) {

}